<!-- inheritance base html -->
{% extends 'layout/base.html' %} {% load static %}
<!-- START MAIN SECTION -->
{% block main %}
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Docs</h1>
            <p class="col-md-8 fs-4">
                Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below
                for how you can remix and restyle it to your liking.
            </p>
            <a href="{% url 'bidding:calculate-tender' %}"class="btn btn-primary btn-lg px-4 gap-3 shadow-lg">¡I want to calculate my tender!</a>
        </div>
    </div>

</div>
{% endblock main %}
<!-- END MAIN SECTION -->
