<!-- inheritance base html -->
{% extends 'layout/base.html' %} {% load static %}
<!-- START MAIN SECTION -->
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-">
            <div class="px-4 py-5 my-5 text-center">
                <img class="d-block mx-auto mb-4" src="{% static 'images/home-bidding.png' %}" alt="home-bidding" width="" height="" />
                <h1 class="display-5 fw-bold">What do you want to do?</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">
                        Welcome to the best platform for Tenders in Quebec. Below you have two buttons. The button on the left redirects you to the platform
                        administration where you can configure the variables. The button on the right redirects you to a view to calculate the bid. : )
                    </p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a href="{% url 'administrator:administrator-home' %}"class="btn btn-outline-secondary btn-lg px-4">Administrator</a>
                        <a href="{% url 'bidding:calculate-tender' %}"class="btn btn-primary btn-lg px-4 gap-3 shadow-lg">¡I want to calculate my tender!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
<!-- END MAIN SECTION -->
