<!-- inheritance base html -->
{% extends 'layout/base.html' %}

<!-- START MAIN SECTION -->
{% block main %}
<!-- START CONTENT MAIN-->
<div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">This is current configuration</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">This is the current configuration for bidding calculations</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="{% url 'bidding:calculate-tender' %}" class="btn btn-primary btn-lg px-4 me-sm-3 shadow-lg">¡I want to calculate my tender!</a>
            {% if not biddingvariable %}<a href="{% url 'administrator:biddingvariable-create' %}" class="btn btn-outline-secondary btn-lg px-4 shadow-lg"
                >Create</a
            >{% endif %}
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh">
        <div class="container px-5"></div>
    </div>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            {% if biddingvariable %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Basic usage rate</th>
                        <th scope="col">Seller commission</th>
                        <th scope="col">Fixed storage rate</th>
                        <th scope="col">Partnership cost ranges</th>
                        <th scope="col">Is active</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bv in biddingvariable %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{bv.basicusagerate}}</td>
                        <td>{{bv.sellercommission}}</td>
                        <td>{{bv.fixedstoragerate}}</td>
                        <td>{% for range in bv.partnershipcostranges.all %}<span class="badge bg-dark">{{range}}</span> <br />{% endfor %}</td>
                        <td>
                            {% if bv.is_active %}
                            <span class="badge bg-success">active</span>
                            {% else %}
                            <span class="badge bg-secondary">disabled</span>
                            {% endif %}
                        </td>
                        <td><a class="btn btn-sm btn-warning" href="{% url 'administrator:biddingvariable-update' bv.pk %}">Editar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            
            <div class="alert alert-warning" role="alert"> <b>Wait!</b> remember that you must activate this registry to be able to calculate the bids.</div>
        </div>
    </div>
</div>

<!-- END CONTENT MAIN-->
{% endblock main %}
<!-- END MAIN SECTION -->
