{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <title>ProgiPix</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
    </head>
    <body>
        <div class="container-fluid shadow">
            <div class="container">
                <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
                    <a href="{% url 'bidding:home-bidding' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <img src="{% static 'images/progipix-auto-auction.png' %}" alt="progi home" height="30px" />
                    </a>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="{% url 'bidding:home-bidding' %}" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="{% url 'administrator:administrator-home' %}" class="nav-link">Administrator</a></li>
                        <li class="nav-item"><a href="{% url 'bidding:calculate-tender' %}" class="nav-link">Bidding</a></li>
                        <li class="nav-item"><a href="{% url 'bidding:docs' %}" class="nav-link">Docs</a></li>
                    </ul>
                </header>
            </div>
        </div>
        <!-- START BLOCK MAIN -->
        {% block main %} {% endblock main %}
        <!-- END BLOCK MAIN -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
